<p style="margin-left:4%;">Here you can see my personal/course projects.</p>

<ul class="nav nav-tabs projectTabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" 
      routerLink = "java"
      routerLinkActive = "active"
      >Java</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
      routerLink = "python"
      routerLinkActive = "active"
      >Python</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" 
      routerLink = "angular"
      routerLinkActive = "active"
      >Angular</a>
    </li>
</ul>

<router-outlet></router-outlet>
