<div class = "card-group animation" style="padding-left:4%">
    <div class="card md-3" style="margin-right: 2%; border-radius: 10px">
        <div class="row g-0">
            <div class="col-md-8 text-bg-info" style="border-radius: 10px 0px 0px 10px">
                <div class="card-body">
                    <h5 class="card-title">koboldhelper.com Backend Code</h5>
                    <p class="card-text">Wrote a backend component that makes API calls to retrieve JSON and organizes the data into Javascript code for the website koboldhelper.com.</p>
                    <a href="" class="btn btn-primary">Useless Button</a>
                    <p class="card-text"><small class="text-body-secondary">Last updated April 28, 2024</small></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="assets/andrew.jpg" class="img-fluid card-img-top" alt="andrew">
            </div>
        </div>
    </div>

    <div class="card md-3" style="margin-right: 2%; border-radius: 10px">
        <div class="row g-0">
            <div class="col-md-8 text-bg-info" style="border-radius: 10px 0px 0px 10px">
                <div class="card-body">
                    <h5 class="card-title">koboldhelper.com Backend Code</h5>
                    <p class="card-text">Wrote a backend component that makes API calls to retrieve JSON and organizes the data into Javascript code for the website koboldhelper.com.</p>
                    <a href="" class="btn btn-primary">Useless Button</a>
                    <p class="card-text"><small class="text-body-secondary">Last updated April 28, 2024</small></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="assets/andrew.jpg" class="img-fluid card-img-top" alt="andrew">
            </div>
        </div>
    </div>

    <div class="card md-3" style="margin-right: 2%; border-radius: 10px">
        <div class="row g-0">
            <div class="col-md-8 text-bg-info" style="border-radius: 10px 0px 0px 10px"> 
                <div class="card-body">
                    <h5 class="card-title">koboldhelper.com Backend Code</h5>
                    <p class="card-text">Wrote a backend component that makes API calls to retrieve JSON and organizes the data into Javascript code for the website koboldhelper.com.</p>
                    <a href="" class="btn btn-primary">Useless Button</a>
                    <p class="card-text"><small class="text-body-secondary">Last updated April 28, 2024</small></p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="assets/andrew.jpg" class="img-fluid card-img-top" alt="andrew">
            </div>
        </div>
    </div>
</div>
